.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
}
.form{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.invalidFeedback {
    color: red;
}